<div class="row column">
    <p class="lead">About the mobile app</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column">
        <div class="callout">
            <p>Home</p>
            <p><img src="https://file.ac/As7Lsb_ZTWU/auth-home.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Home</p>
            <p class="subheader">Simple UI with all navigations</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Login</p>
            <p><img src="https://file.ac/As7Lsb_ZTWU/login.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Simple authentication</p>
            <p class="subheader">Authentication to personalize</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Dates</p>
            <p><img src="https://file.ac/As7Lsb_ZTWU/date-list.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Users matching preference</p>
            <p class="subheader">View Dates based on your preference</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>User interests</p>
            <p><img src="https://file.ac/As7Lsb_ZTWU/user-interests.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Viewing user interests</p>
            <p class="subheader"></p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Places Map</p>
            <p><img src="https://file.ac/As7Lsb_ZTWU/place-map-infowindow.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Map view of places</p>
            <p class="subheader">View the places near you and your date under chosen category</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>List of places</p>
            <p><img src="https://file.ac/As7Lsb_ZTWU/place-map-infowindow.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Place list view</p>
            <p class="subheader">Simple list view of all the places</p>
        </div>
    </div>
</div>
<div class="row column">
    <a class="button expanded" href="https://file.ac/As7Lsb_ZTWU/com.dxtrs.inc.hack.grindr.app.apk">Download App</a>
</div>
