<div class="callout">
  <h5>Hello Users!!</h5>
  <p>This is a Demo site for the LetsDate application.
    This application is built using RubyOnRails and Postgres as backend. Navigate through to have a look at the functionality</p>
</div>
